*html,
body {
    margin: 0;
    padding: 0;
    display: block;

}


.wrapper {
    max-width: 350px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}



img {
    background-color: aquamarine;
    width: 350px;
    height: 200px;
    border-radius-top: 10px;
}

.header,
.article1,
.article2,
.article3,
.footer {
    margin: 10px;
}

.footer {
    margin-bottom: 20px;
}